body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-mainstyling {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.calltoaction {
    color:greenyellow;
}

.heading-second {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.imagestyling {
    margin-top: 10px;
}

.imagestyling2 {
    max-width: 100%;
}